div.highlight .hll { background-color: #ffffcc }
div.highlight .c { color: #606060; font-style: italic } /* Comment */
div.highlight .err { color: #F00000; background-color: #F0A0A0 } /* Error */
div.highlight .k { color: #208090;  } /* Keyword */
div.highlight .o { color: #303030 } /* Operator */
div.highlight .cm { color: #606060; font-style: italic } /* Comment.Multiline */
div.highlight .cp { color: #507090 } /* Comment.Preproc */
div.highlight .c1 { color: #606060; font-style: italic } /* Comment.Single */
div.highlight .cs { color: #c00000; ; font-style: italic } /* Comment.Special */
div.highlight .gd { color: #A00000 } /* Generic.Deleted */
div.highlight .ge { font-style: italic } /* Generic.Emph */
div.highlight .gr { color: #FF0000 } /* Generic.Error */
div.highlight .gh { color: #000080;  } /* Generic.Heading */
div.highlight .gi { color: #00A000 } /* Generic.Inserted */
div.highlight .go { color: #808080 } /* Generic.Output */
div.highlight .gp { color: #c65d09;  } /* Generic.Prompt */
div.highlight .gs {  } /* Generic.Strong */
div.highlight .gu { color: #800080;  } /* Generic.Subheading */
div.highlight .gt { color: #0040D0 } /* Generic.Traceback */
div.highlight .kc { color: #208090;  } /* Keyword.Constant */
div.highlight .kd { color: #208090;  } /* Keyword.Declaration */
div.highlight .kn { color: #208090;  } /* Keyword.Namespace */
div.highlight .kp { color: #0080f0;  } /* Keyword.Pseudo */
div.highlight .kr { color: #208090;  } /* Keyword.Reserved */
div.highlight .kt { color: #6060f0;  } /* Keyword.Type */
div.highlight .m { color: #6000E0;  } /* Literal.Number */
div.highlight .s { background-color: #F0F0FF } /* Literal.String */
div.highlight .na { color: #000070 } /* Name.Attribute */
div.highlight .nb { color: #007020 } /* Name.Builtin */
div.highlight .nc { color: #e090e0;  } /* Name.Class */
div.highlight .no { color: #50e0d0;  } /* Name.Constant */
div.highlight .nd { color: #505050;  } /* Name.Decorator */
div.highlight .ni { color: #800000 } /* Name.Entity */
div.highlight .nx { color: #3e4f51 } /* Name.Entity */
div.highlight .ne { color: #F00000;  } /* Name.Exception */
div.highlight .nf { color: #50e0d0;  } /* Name.Function */
div.highlight .nl { color: #907000;  } /* Name.Label */
div.highlight .nn { color: #0e84b5;  } /* Name.Namespace */
div.highlight .nt { color: #007000 } /* Name.Tag */
div.highlight .nv { color: #003060 } /* Name.Variable */
div.highlight .ow { color: #000000;  } /* Operator.Word */
div.highlight .w { color: #bbbbbb } /* Text.Whitespace */
div.highlight .mf { color: #6000E0;  } /* Literal.Number.Float */
div.highlight .mh { color: #005080;  } /* Literal.Number.Hex */
div.highlight .mi { color: #6060f0;  } /* Literal.Number.Integer */
div.highlight .mo { color: #4000E0;  } /* Literal.Number.Oct */
div.highlight .sb { background-color: #8c926a } /* Literal.String.Backtick */
div.highlight .sc { color: #8080F0 } /* Literal.String.Char */
div.highlight .sd { color: #D04020 } /* Literal.String.Doc */
div.highlight .s2 { background-color: #e0e0ff } /* Literal.String.Double */
div.highlight .se { color: #606060; ; background-color: #e0e0ff } /* Literal.String.Escape */
div.highlight .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
div.highlight .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
div.highlight .sx { color: #f08080; background-color: #e0e0ff } /* Literal.String.Other */
div.highlight .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
div.highlight .s1 { color: #74814d } /* Literal.String.Single */
div.highlight .ss { color: #f0c080 } /* Literal.String.Symbol */
div.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
div.highlight .vc { color: #c0c0f0 } /* Name.Variable.Class */
div.highlight .vg { color: #f08040 } /* Name.Variable.Global */
div.highlight .vi { color: #a0a0f0 } /* Name.Variable.Instance */
div.highlight .il { color: #6060f0;  } /* Literal.Number.Integer.Long */
