body {
  font: 14px/20px Arial, Helvetica, sans;
  color: #222;
  background-color: white;
}

p {
  margin:10px 0;
}

a {
  color:blue;
}

@font-face {
  font-family:MuseoSans;
  src: url('Rokkit-Regular.ttf');
}

div.header {
}

h1, h1 a {
  font: 30px/60px "MuseoSans", serif;
  color:#000;
  text-decoration:none;
}

h1 a:hover {
}

h2 {
  font-size:20px;
  line-height:30px;
  border-bottom:1px solid #333;
}

div.page {
  width:700px;
  margin:20px auto;
}

div.content {
  width:600px;
  float:left;
}

div.navigation {
  width:80px;
  padding-left:20px;
  padding-top:50px;
  float:right;
}

div.highlight {
  padding:10px;
  border:1px solid #aaa;
  margin:10px 0;
}

.map {
  height:300px;
}

p code {
  padding:3px;
  background:#FFF2D3;
}

div.navigation ul li a {
  color:#832fe4;
  text-decoration:none;
  font: 12px/20px Arial, Helvetica, sans;
}

div.navigation ul li a.active {
  color:#000;
}
