body {
  font: 14px/20px Arial, Helvetica, sans;
  color: #222;
  background-color: white;
}

p {
  margin:10px 0;
}

a {
  color:blue;
}

@font-face {
  font-family:MuseoSans;
  src: url('Rokkit-Regular.ttf');
}

div.header {
  padding-left:100px;
}

h1, h1 a {
  font: 30px/60px "MuseoSans", serif;
  color:#000;
  text-decoration:none;
}

h1 a:hover {
}

h2 {
  font-size:20px;
  line-height:30px;
}

div.page {
  width:700px;
  margin:20px auto;
}

div.content {
  width:600px;
  float:right;
}

div.navigation {
  width:90px;
  padding-right:10px;
  float:left;
}

div.highlight {
  padding:10px;
  border:1px solid #aaa;
  margin:10px 0;
}

.map {
  height:300px;
}

