body {
  font: 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background: #3f414d url(../images/bg.png) repeat 0 0;
  font-weight: normal;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
  }
h2 { font-size: 18px; line-height: 22px; margin: 5px 0; }
h3 { font-size: 28px; line-height: 28px; margin: 10px 0; }
h5 { font-size: 16px; line-height: 18px; margin: 10px 0; }
h6 { font-size: 11px; line-height: 18px; margin: 0; }

p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
  }
small {
  font-size: 11px;
  line-height: 16px;
  }
a {
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  }
  a:hover {
    text-decoration: none;
    }
label,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  }
input,
textarea,
select {
  display: inline-block;
  width: 220px;
  height: 25px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 25px;
  color: gray;
  }
  input[type='text'] {
    border: 1px solid #ccc;
    }
textarea {
  height: auto;
  }
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
  }
input[type='text'], textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='text']:focus, textarea:focus {
    outline: 0;
    border-color: #8C8C8C;
    }
pre,
pre code,
p code {
  font-family: 'Menlo Regular',Consolas,monospace;
  }
pre {
  color: #888;
  overflow: auto;
  padding: 20px;
  transition:background-color .2s, color .2s;
  -moz-transition:background-color .2s, color .2s;
  -webkit-transition:background-color .2s, color .2s;
  }
  pre:hover {
    background-color:#eee;
    color:#444;
    }
  pre:hover::-webkit-scrollbar { background:#eee; }
  pre:hover::-webkit-scrollbar-thumb { background:#666; }
  pre::-webkit-scrollbar {
    height:8px;
    width:8px;
    background:#fff;
    border-radius:2px;
    }
  pre::-webkit-scrollbar-thumb {
    border-radius:2px;
    background:#fff;
    }
  pre::-webkit-scrollbar-thumb:vertical { height:25px; }
  pre::-webkit-scrollbar-thumb:horizontal { width:25px; }

table th {
  font: 12px/20px Arial, Helvetica, sans;
  text-align:right;
  }
.icon {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -999em;
  }

/*-----------------------------------
  Layout
-------------------------------------*/
.limiter {
  width: 960px;
  margin: 0 auto;
  }
.header {
  position: relative;
  height: 129px;
  }
  .header a.title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    }
.content {
  width: 680px;
  float: left;
  padding: 20px;
  }
.sidebar {
  width: 200px;
  padding: 20px;
  float: left;
  }

/*-----------------------------------
  Global Style
-------------------------------------*/
.header a.title {
  background-position: 0 0;
  width: 160px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  }
.content {
  background: #fff;
  }
.sidebar {
  color: #000;
  }
  .sidebar a {
    font-weight: bold;
    color: #fff;
    }
.item {
  margin: 10px 0;
  }
  .item h4 {
    font-size: 18px;
    font-weight: bold;
    }