html,body,/* Structures */ div,span,applet,object,iframe,/* Text */ h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,/* Lists */ dl,dt,dd,ol,ul,li,/* Forms */ fieldset,form,input,select,textarea,label,legend,/* Tables */ table,caption,tbody,tfoot,thead,tr,th,td { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; line-height:inherit; margin:0; padding:0; }  ol,ul,.item-list ul,.item-list ul li { list-style:none; }  blockquote,q { quotes:none; }  blockquote:before,blockquote:after,q:before,q:after { content:none; }  :focus { outline:0; }  ins { text-decoration:none; }  del { text-decoration:line-through; }  table { border-collapse:collapse; border-spacing:0; }  input,select,textarea,body { font:13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }  .clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }  .clearfix { display:block; }  * html .clearfix { height:1%; }
body {
  font: 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background: #eff4f6 url(images/bg.png) repeat 0 0;
  font-weight: normal;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
h1,h2,h3 {
  font-family: Rockwell,'Century Schoolbook',Century;
  }
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
  }
h2 {
  margin: 10px 0 20px;
  font-size: 26px;
  line-height: 30px;
  }
h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 20px 0 10px;
  }
h5 { font-size: 18px; line-height: 18px; margin: 10px 0; }
h6 { font-size: 11px; line-height: 18px; margin: 0; }

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
  color: #4F4F4F;
  }
  .copy p {
    font-size: 15px;
    line-height: 22px;
    }
  .intro p {
    font-family: 'Century Schoolbook',Century;
    font-size: 20px;
    line-height: 28px;
    }

span.first-letter {
  font: 22px/20px Rockwell,'Century Schoolbook',Century;
  font-weight: normal;
  background: #202020;
  padding: 25px 30px;
  color: white;
  float: left;
  margin-right: 10px;
  text-transform: lowercase;
  margin-top: 8px;
  display: block;
  }
small {
  font-size: 11px;
  line-height: 16px;
  }
a {
  color: #000;
  text-decoration: none;
  line-height: inherit;
  }
  a:hover {
    color: #101010;
    }
  .content p a {
    border-bottom: 1px solid #ddd;
    -moz-transition: border-color 0.3s linear;
    -o-transition: border-color 0.3s linear;
    -webkit-transition: border-color 0.3s linear;
    transition: border-color 0.3s linear;
    }
  .content a:hover {
    border-bottom-color: #404040;
    }
a.button {
  font-family: Rockwell,'Century Schoolbook',Century;
  background: #d93c03 url(images/bg.png) repeat 0 0;
  color: white;
  display: inline-block;
  padding: 0 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #962902;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -moz-box-shadow: 0 2px 0 #962902;
  -webkit-box-shadow: 0 2px 0 #962902;
  box-shadow: 0 2px 0 #962902;
  position: relative;
  }
  a.button:hover {
    border-color: #962902;
    background-color: #c83703;
    }
  a.button:active {
    top: 2px;
    -moz-box-shadow: 0 0 0 #337a9d;
    -webkit-box-shadow: 0 0 0 #337a9d;
    box-shadow: 0 0 0 #337a9d;
    }
label,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  }
input,
textarea,
select {
  display: inline-block;
  width: 220px;
  height: 25px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 25px;
  color: gray;
  }
  input[type='text'] {
    border: 1px solid #ccc;
    }
textarea {
  height: auto;
  }
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
  }
input[type='text'], textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='text']:focus, textarea:focus {
    outline: 0;
    border-color: #8C8C8C;
    }
pre,
pre code,
p code {
  font-family: 'Menlo Regular','DejaVu Sans Mono', Consolas,monospace;
  }
pre {
  color: #888;
  overflow: auto;
  padding: 20px 20px 10px;
  transition: background-color .2s, color .2s;
  -moz-transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  }
  pre:hover::-webkit-scrollbar { background: #eee; }
  pre:hover::-webkit-scrollbar-thumb { background: #666; }
  pre:active::-webkit-scrollbar-thumb { background: #404040; }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #fff;
    border-radius: 2px;
    }
  pre::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #fff;
    }
  pre::-webkit-scrollbar-thumb:vertical { height: 25px; }
  pre::-webkit-scrollbar-thumb:horizontal { width: 25px; }

p code {
  background: #fffdc2;
  display: inline-block;
  padding: 0 4px;
  -webkit-border-radius: 3px;
  line-height: 19px;
  }

table th {
  font: 12px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align:right;
  }
.icon {
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -999em;
  }
a.code {
  background: #000;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 900;
  top: 10px;
  right: 10px;
  }
a.external:before {
  background: url(images/sprite.png) no-repeat 0 -58px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 4px;
  }

/*-----------------------------------
  Layout
-------------------------------------*/
.limiter {
  width: 800px;
  margin: 0 auto;
  }
.header {
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 140px;
  }
.content {
  width: 640px;
  padding: 20px 20px 80px;
  float: left;
  }

.sidebar {
  width: 120px;
  float: left;
  }
.copy {
  padding: 0 0 10px;
  }
.col {
  float: left;
  width: 50%;
  }

/*-----------------------------------
  Document Styling
-------------------------------------*/
img.left {
  float: left;
  margin: 0 10px 10px 0;
  }
.header h1 {
  float: left;
  width: 150px;
  height: 70px;
  padding-top: 50px;
  background: #d7dcdd url(images/bg.png) repeat 0 0;
  background: rgba(0, 0, 0, 0.10);
  }
  .header h1:active {
    background: rgba(0,0,0,1);
    }
.header a.title {
  background-position: 15px 60px;
  width: 150px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  }
.content {
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }
.sidebar {
  position: relative;
  color: #19171c;
  padding-top: 32px;
  }
  .sidebar a {
    font-weight: bold;
    color: #69AACA;
    border-bottom: 1px solid #cedee4;
    border-bottom-color: rgba(0,0,0,0.10);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    z-index: 999;
    width: 100px;
    }
    .sidebar a:hover {
      color: #337A9D;
      }
    .sidebar a.active {
      background: transparent url(images/sprite.png) no-repeat left bottom;
      position: relative;
      right: 0;
      color: white;
      border-bottom-color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
      }

/*-----------------------------------
  Map
-------------------------------------*/
.live {
  position: relative;
  }
  body .map {
    border: 1px solid #ddd;
    height: 340px!important;
    }
  .highlight {
    background: #fefefe url(images/code-bg.png) repeat 0 0;
    width: 100%;
    margin-bottom: 20px;
    }

/*-----------------------------------
  Frontpage Styling
-------------------------------------*/
.premiere {
  border-top: 1px solid #d9e5ea;
  margin: 0 -20px;
  padding: 10px 20px 30px;
  }
  .premiere a.source {
    font-weight: bold;
    border: none;
    font-size: 16px;
    }

.contributors {
  background: #fff;
  border-top: 1px solid #d9e5ea;
  margin: 0 -20px;
  padding: 10px 20px 40px;
  }
  .contributors a {
    margin: 0 20px 0 0;
    float: left;
    color: white;
    width: 120px;
    }
  .contributors .stamen {
    height: 25px;
    background-position: 0 -446px;
    margin-top: 6px;
    }
  .contributors .mapbox {
    height: 40px;
    background-position: 0 -475px;
    }
  .contributors .bloom {
    width: 95px;
    height: 40px;
    background-position: 0 -405px;
    }

.download p {
  margin: 0 0 10px;
  color: #AEAEAE;
  }
.download.js {
  background: transparent url(images/sprite.png) no-repeat 0px -280px;
  width: 375px;
  padding-left: 130px;
  height: 120px;
  }
.implementations {
  background: white url(images/bg.png) repeat 0 0;
  border-top: 1px solid #d9e5ea;
  margin: 0 -20px -80px;
  padding: 0 20px;
  height: 360px;
  }
  .implementations h2 {
    display: block;
    margin: 20px 0 30px;
    }
    .implementations.active h2,
    .implementations h2:hover {
      color: inherit;
      }
.option {
  opacity: 0.20;
  -moz-opacity: 0.20;
  filter:alpha(opacity=20);
  margin-bottom: 20px;
  padding-right: 20px;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  }
  .option:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    }
.option .icon {
  float: left;
  width: 60px;
  height: 60px;
  border-bottom: none;
  margin-right: 15px;
  }
.option .as3         { background-position: 0px -85px; }
.option .cinder      { background-position: 0px -215px; }
.option .processing  { background-position: 0px -150px; }
.option .of          { background-position: -60px -85px; }
.option .py          { background-position: -60px -215px; }
.option .php         { background-position: -60px -150px; }

.option a.source {
  display: block;
  border-bottom: none;
  font-weight: bold;
  font-size: 14px;
  }
.option p {
  font-size: 12px;
  margin: 0;
  color: #AEAEAE;
  }

img.screenshot {
  border: 1px solid #ddd;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  }

div.highlight .hll { background-color: #ffffcc }
div.highlight .c { color: #606060; font-style: italic } /* Comment */
div.highlight .err { color: #F00000; background-color: #F0A0A0 } /* Error */
div.highlight .k { color: #208090;  } /* Keyword */
div.highlight .o { color: #303030 } /* Operator */
div.highlight .cm { color: #606060; font-style: italic } /* Comment.Multiline */
div.highlight .cp { color: #507090 } /* Comment.Preproc */
div.highlight .c1 { color: #606060; font-style: italic } /* Comment.Single */
div.highlight .cs { color: #c00000; ; font-style: italic } /* Comment.Special */
div.highlight .gd { color: #A00000 } /* Generic.Deleted */
div.highlight .ge { font-style: italic } /* Generic.Emph */
div.highlight .gr { color: #FF0000 } /* Generic.Error */
div.highlight .gh { color: #000080;  } /* Generic.Heading */
div.highlight .gi { color: #00A000 } /* Generic.Inserted */
div.highlight .go { color: #808080 } /* Generic.Output */
div.highlight .gp { color: #c65d09;  } /* Generic.Prompt */
div.highlight .gs {  } /* Generic.Strong */
div.highlight .gu { color: #800080;  } /* Generic.Subheading */
div.highlight .gt { color: #0040D0 } /* Generic.Traceback */
div.highlight .kc { color: #208090;  } /* Keyword.Constant */
div.highlight .kd { color: #208090;  } /* Keyword.Declaration */
div.highlight .kn { color: #208090;  } /* Keyword.Namespace */
div.highlight .kp { color: #0080f0;  } /* Keyword.Pseudo */
div.highlight .kr { color: #208090;  } /* Keyword.Reserved */
div.highlight .kt { color: #6060f0;  } /* Keyword.Type */
div.highlight .m { color: #6000E0;  } /* Literal.Number */
div.highlight .s { background-color: #F0F0FF } /* Literal.String */
div.highlight .na { color: #000070 } /* Name.Attribute */
div.highlight .nb { color: #007020 } /* Name.Builtin */
div.highlight .nc { color: #e090e0;  } /* Name.Class */
div.highlight .no { color: #50e0d0;  } /* Name.Constant */
div.highlight .nd { color: #505050;  } /* Name.Decorator */
div.highlight .ni { color: #800000 } /* Name.Entity */
div.highlight .nx { color: #3e4f51 } /* Name.Entity */
div.highlight .ne { color: #F00000;  } /* Name.Exception */
div.highlight .nf { color: #50e0d0;  } /* Name.Function */
div.highlight .nl { color: #907000;  } /* Name.Label */
div.highlight .nn { color: #0e84b5;  } /* Name.Namespace */
div.highlight .nt { color: #007000 } /* Name.Tag */
div.highlight .nv { color: #003060 } /* Name.Variable */
div.highlight .ow { color: #000000;  } /* Operator.Word */
div.highlight .w { color: #bbbbbb } /* Text.Whitespace */
div.highlight .mf { color: #cb4b16;  } /* Literal.Number.Float */
div.highlight .mh { color: #005080;  } /* Literal.Number.Hex */
div.highlight .mi { color: #cb4b16;  } /* Literal.Number.Integer */
div.highlight .mo { color: #4000E0;  } /* Literal.Number.Oct */
div.highlight .sb { background-color: #8c926a } /* Literal.String.Backtick */
div.highlight .sc { color: #8080F0 } /* Literal.String.Char */
div.highlight .sd { color: #D04020 } /* Literal.String.Doc */
div.highlight .s2 { background-color: #e0e0ff } /* Literal.String.Double */
div.highlight .se { color: #606060; ; background-color: #e0e0ff } /* Literal.String.Escape */
div.highlight .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
div.highlight .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
div.highlight .sx { color: #f08080; background-color: #e0e0ff } /* Literal.String.Other */
div.highlight .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
div.highlight .s1 { color: #74814d } /* Literal.String.Single */
div.highlight .ss { color: #f0c080 } /* Literal.String.Symbol */
div.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
div.highlight .vc { color: #c0c0f0 } /* Name.Variable.Class */
div.highlight .vg { color: #f08040 } /* Name.Variable.Global */
div.highlight .vi { color: #a0a0f0 } /* Name.Variable.Instance */
div.highlight .il { color: #6060f0;  } /* Literal.Number.Integer.Long */
