body {
  font: 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background: #eff4f6 url(images/bg.png) repeat 0 0;
  font-weight: normal;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
h1,h2,h3 {
  font-family: Rockwell,'Century Schoolbook',Century;
  }
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
  }
h2 {
  margin: 10px 0 20px;
  font-size: 28px;
  line-height: 32px;
  }
h3 { font-size: 28px; line-height: 28px; margin: 10px 0; }
h5 { font-size: 18px; line-height: 18px; margin: 10px 0; }
h6 { font-size: 11px; line-height: 18px; margin: 0; }

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
  color: #4F4F4F;
  }
  .copy p {
    font-size: 15px;
    line-height: 22px;
    }
  .intro p {
    font-family: 'Century Schoolbook',Century;
    font-size: 20px;
    line-height: 28px;
    }

span.first-letter {
  font: 22px/20px Rockwell,'Century Schoolbook',Century;
  font-weight: normal;
  background: #202020;
  padding: 25px 30px;
  color: white;
  float: left;
  margin-right: 10px;
  text-transform: lowercase;
  margin-top: 8px;
  display: block;
  }
small {
  font-size: 11px;
  line-height: 16px;
  }
a {
  color: #000;
  text-decoration: none;
  line-height: inherit;
  }
  a:hover {
    color: #101010;
    }
  .content p a {
    border-bottom: 1px solid #ccc;
    -moz-transition: border-color 0.3s linear;
    -o-transition: border-color 0.3s linear;
    -webkit-transition: border-color 0.3s linear;
    transition: border-color 0.3s linear;
    }
  .content a:hover {
    border-bottom-color: #404040;
    }
a.button {
  font-family: Rockwell,'Century Schoolbook',Century;
  background: #d93c03 url(images/bg.png) repeat 0 0;
  color: white;
  display: inline-block;
  padding: 0 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #962902;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -moz-box-shadow: 0 2px 0 #962902;
  -webkit-box-shadow: 0 2px 0 #962902;
  box-shadow: 0 2px 0 #962902;
  position: relative;
  }
  a.button:hover {
    border-color: #962902;
    background-color: #c83703;
    }
  a.button:active {
    top: 2px;
    -moz-box-shadow: 0 0 0 #337a9d;
    -webkit-box-shadow: 0 0 0 #337a9d;
    box-shadow: 0 0 0 #337a9d;
    }
label,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  }
input,
textarea,
select {
  display: inline-block;
  width: 220px;
  height: 25px;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 25px;
  color: gray;
  }
  input[type='text'] {
    border: 1px solid #ccc;
    }
textarea {
  height: auto;
  }
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
  }
input[type='text'], textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='text']:focus, textarea:focus {
    outline: 0;
    border-color: #8C8C8C;
    }
pre,
pre code,
p code {
  font-family: 'Menlo Regular','DejaVu Sans Mono', Consolas,monospace;
  }
pre {
  color: #888;
  overflow: auto;
  padding: 20px 20px 10px;
  transition: background-color .2s, color .2s;
  -moz-transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  }
  pre:hover::-webkit-scrollbar { background: #eee; }
  pre:hover::-webkit-scrollbar-thumb { background: #666; }
  pre:active::-webkit-scrollbar-thumb { background: #404040; }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #fff;
    border-radius: 2px;
    }
  pre::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #fff;
    }
  pre::-webkit-scrollbar-thumb:vertical { height: 25px; }
  pre::-webkit-scrollbar-thumb:horizontal { width: 25px; }

p code {
  background: #fffdc2;
  display: inline-block;
  padding: 0 4px;
  -webkit-border-radius: 3px;
  line-height: 19px;
  }

table th {
  font: 12px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align:right;
  }
.icon {
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
  display: block;
  text-indent: -999em;
  }
a.code {
  background: #000;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 900;
  top: 10px;
  right: 10px;
  }
a.external:before {
  background: url(images/sprite.png) no-repeat 0 -58px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 4px;
  }

/*-----------------------------------
  Layout
-------------------------------------*/
.limiter {
  width: 800px;
  margin: 0 auto;
  }
.header {
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 140px;
  }
.content {
  width: 638px;
  padding: 20px 20px 80px;
  float: left;
  border: 1px solid #CEDEE4;
  }

.sidebar {
  width: 120px;
  float: left;
  }
.copy {
  padding: 0 0 10px;
  }
.col {
  float: left;
  width: 50%;
  }

/*-----------------------------------
  Document Styling
-------------------------------------*/
img.left {
  float: left;
  margin: 0 10px 10px 0;
  }
.header h1 {
  float: left;
  width: 150px;
  height: 70px;
  padding-top: 50px;
  background: #d7dcdd url(images/bg.png) repeat 0 0;
  background: rgba(0, 0, 0, 0.10);
  }
  .header h1:active {
    background: rgba(0,0,0,1);
    }
.header a.title {
  background-position: 15px 60px;
  width: 150px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  }
.content {
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }
.sidebar {
  position: relative;
  color: #19171c;
  padding-top: 32px;
  }
  .sidebar a {
    font-weight: bold;
    color: #69AACA;
    border-bottom: 1px solid #cedee4;
    border-bottom-color: rgba(0,0,0,0.10);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    z-index: 999;
    width: 100px;
    }
    .sidebar a:hover {
      color: #337A9D;
      }
    .sidebar a.active {
      background: transparent url(images/sprite.png) no-repeat left bottom;
      position: relative;
      right: 0;
      color: white;
      border-bottom-color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
      }

/*-----------------------------------
  Map
-------------------------------------*/
.live {
  position: relative;
  }
  body .map {
    border: 1px solid #CEDEE4;
    height: 340px!important;
    }
  .highlight {
    background: #fefefe url(images/code-bg.png) repeat 0 0;
    width: 100%;
    margin-bottom: 20px;
    }

/*-----------------------------------
  Frontpage Styling
-------------------------------------*/
.premiere {
  border-top: 1px solid #d9e5ea;
  margin: 0 -20px;
  padding: 10px 20px 0;
  }
.premiere a.source {
  font-weight: bold;
  border: none;
  font-size: 16px;
  }
.contributors {
  border-top: 1px solid #d9e5ea;
  margin: 20px -20px 10px -20px;
  padding: 10px 20px 0;
  }

.contributors a {
  margin:0 20px 0 0;
  padding:10px;
  display:block;
  float:left;
  }

.contributors a:hover {
  background-color:#eff4f6 !important;
}

.contributors a#stamen {
  color:#69aaca;
  font:bold 34px/40px "Helvetica";
  letter-spacing:-2px;
  border:0;
}

.contributors a#bloom {
  color:#69aaca;
  font:34px/40px bold "Helvetica";
  letter-spacing:-2px;
  border:0;
}

.contributors a#mapbox {
  color:#69aaca;
  font:34px/40px bold "Helvetica";
  background:transparent url('images/mapbox.png') no-repeat;
  background-position:10px 10px;
  padding-left:55px;
  letter-spacing:-2px;
  border:0;
}

.download p {
  margin: 0 0 10px;
  color: #AEAEAE;
  }
.download.js {
  background: transparent url(images/sprite.png) no-repeat 0px -280px;
  width: 375px;
  padding-left: 130px;
  height: 120px;
  }

.implementations {
  background: white url(images/bg.png) repeat 0 0;
  border-top: 1px solid #d9e5ea;
  margin: 20px -20px -80px;
  padding: 0 20px;
  height: 360px;
  }
.implementations h2 {
  display: block;
  margin: 20px 0 30px;
  }
  .implementations.active h2,
  .implementations h2:hover {
    color: inherit;
    }
.option {
  opacity: 0.20;
  -moz-opacity: 0.20;
  filter:alpha(opacity=20);
  margin-bottom: 20px;
  padding-right: 20px;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  }
  .option:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    }
.option .icon {
  float: left;
  width: 60px;
  height: 60px;
  border-bottom: none;
  margin-right: 15px;
  }
.option .as3         { background-position: 0px -85px; }
.option .cinder      { background-position: 0px -215px; }
.option .processing  { background-position: 0px -150px; }
.option .of          { background-position: -60px -85px; }
.option .py          { background-position: -60px -215px; }
.option .php         { background-position: -60px -150px; }

.option a.source {
  display: block;
  border-bottom: none;
  font-weight: bold;
  font-size: 14px;
  }
.option p {
  font-size: 12px;
  margin: 0;
  color: #AEAEAE;
  }

img.screenshot {
  border:1px solid #CEDEE4;
  margin-top:20px;
}
