<!DOCTYPE html >
<html>
<head>
  <meta charset='utf-8'/>
  <title>Modest Maps | {{page.title}}</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class='header'>
    <h1><a href='{{site.baseurl}}/' class='icon title'>{ modest maps }</a></h1>
  </div>
  <div class='limiter clearfix'>
     <div class='sidebar'>
      <div class='sidebar-inner'>
        <ul>
            <li><a href='{{site.baseurl}}/' class='home {% if page.url == "/index.html" %}active{% endif %}'>Home</a></li>
          {% for post in site.tags.manual %}
            <li><a href='{{site.baseurl}}{{post.url}}' class='{% if page.url == post.url %}active{% endif %}'>{{ post.title }}</a></li>
          {% endfor %}
            <li><a class='external' href='https://github.com/stamen/modestmaps-js'>Repository</a></li>
            <li><a class='external' href='https://github.com/stamen/modestmaps-js/wiki'>API Docs</a></li>
        </ul>
      </div>
    </div>
    <div class='content'>
      {{ content }}
    </div>
  </div>
<script src='{{site.baseurl}}/site.js'></script>
</body>
</html>
